PORT=3000

DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=orders_user
DB_PASSWORD=orders_password
DB_DATABASE=orders

RABBITMQ_URL=amqp://orders_user:orders_password@localhost:5672

JWT_SECRET=local-development-secret
JWT_EXPIRES_IN=1h

DEMO_USER=teste
DEMO_PASSWORD=teste123

ORDER_PROCESSING_DELAY_MS=1500